body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 98%;
            margin: auto;
            overflow: hidden;
            max-width: 1200px;
        }
        header {
            background: #35424a;
            color: #ffffff;
            padding-top: 30px;
            min-height: 70px;
            border-bottom: #e8491d 3px solid;
        }
        header h1 {
            text-align: center;
            margin: 0;
            text-transform: uppercase;
            font-size: 24px;
        }
        form {
            background: #ffffff;
            padding: 20px;
            margin-top: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }
        input[type="text"],
        input[type="date"],
        input[type="radio"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            box-sizing: border-box;
        }
        .radio-group {
            display: flex;
            flex-direction: column;
        }
        .radio-group label {
            display: flex;
            margin-bottom: 1px;
        }
        .radio-group input[type="radio"] {
            width: auto;
            margin-right: 5px;
        }
        .button-container {
            text-align: center;
            margin-top: 20px;
        }
        button {
            background: #35424a;
            color: #ffffff;
            border: 0;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 14px;
        }
        button:hover {
            background: #e8491d;
        }
        footer {
            text-align: center;
            padding: 20px;
            background: #35424a;
            color: white;
            margin-top: 20px;
        }
        .popup {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            text-align: center;
        }
        .popup.active {
            display: block;
        }
        .popup p {
            margin: 0 0 10px;
        }